.nav{
    
    background-color: darkblue;
    display: flex;
    padding: 5px;
    
    
}
body{
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style: none; 
    margin: 0 auto;
  }

li{
    display: inline;
    margin-right: 10px;
    background-color: lightcoral;
}
#sear{

width: 100px;
    
}
#name{
    width: 250px;
}
.logo{
    background-color: lightcoral;
}
.wrapper{
  
    overflow: scroll;
    background-color: navajowhite;
    width: 75%;
    
    margin-left: 150px;
    
}

.post{
    
    height: 100%;
    zoom: 0.4;
    overflow: hidden; 
    border: solid;
    margin: 10px;
    
}
.col{
    display: inline-block;
    vertical-align: top;
}

#post:hover:after {
    content: attr(data-name);
    
    
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 48px;
    margin-left: 35%;
   
    }