.nav{
    
    background-color: darkblue;
    display: flex;
    padding: 5px;
    
    
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("img/back.jpg");
}
ul {
    list-style: none; 
    margin: 0 auto;
  }

li{
    display: inline;
    margin-right: 10px;
    background-color: lightcoral;
}


.logo{
    background-color: lightcoral;
}
.wrapper{
  
   
    background-color: rgba(240, 230, 140, 0.5);
    width: 75%;
    
    margin-left: 150px;
    margin-right: 100px;
    
    
}

.post{
    
    height: 100%;
    zoom: 0.4;
    border: solid;
    margin: 10px;
    
}
.col{
    display: inline-block;
    vertical-align: top;
}

#post:hover:after {
    content: attr(data-name);
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 48px;
    margin-left: 35%;
   
    }