body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("img/back.jpg");
}


.wrapper{
  
   
    background-color: rgba(252, 252, 252,0.5);
    width: 75%;
    
    margin-left: 150px;
    margin-right: 100px;
    
    
}

.post{
    
   
    

    margin: 10px;
    
}
.col{
    width: 200px;
    display: inline-block;
    vertical-align: top;
    
}

.name{
    margin-left: 30%;
}

.btnU{
   background: rgb(0, 255, 51);
   border: none;
}
.btnUN{
    background: rgb(255, 0, 0);
    border: none;
 }
.lab{
    cursor: pointer;
}
.post img{
    border-radius: 20px;
}